---
title: Middleman - About Page
---

<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fas fa-heart"></i> by</h1>
    <ul class="list-inline">
      <% data.users.each do |user| %>
        <li>
          <%= image_tag "images/profile.jpg", class: "img-circle" %>
          <h2><%= user.name %></h2>
          <p>
            <% link_to "https://github.com/#{user.github_nickname}", target: "_blank" do %>
              <i class="fab fa-github"></i> <%= user.github_nickname %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
